.card-title {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.material-icons {
  font-size: 1.4rem;
}

.btn-volver {
  background-color: #28a745;
  color: #fff;
  border: none;

  &:hover {
    background-color: #218838;
  }
}