<section class="d-flex flex-column flex-lg-row flex-wrap justify-content-center my-4 px-3">
    <h2 class="text-center col-12 mb-4">Vestí tu pasión con un estilo único</h2>

    <!-- CAMISETA 1978 -->
    <div class="product-card d-flex flex-column align-items-center col-12 col-lg-3 mb-4 mx-3 p-3 rounded shadow-sm">
        <img src="/assets/images/products/Argentina/Argentina-1978-primera.webp" alt="Camiseta Argentina 1978" class="img-fluid mb-2 product-img" loading="lazy">
        <h5 class="text-center">Argentina 1978</h5>
        <button class="btn btn-ver-más mt-2" data-bs-toggle="modal" data-bs-target="#modalCamiseta1978">Ver Más</button>
    </div>

    <!-- CAMISETA 1986 -->
    <div class="product-card d-flex flex-column align-items-center col-12 col-lg-3 mb-4 mx-3 p-3 rounded shadow-sm">
        <img src="/assets/images/products/Argentina/Argentina-1986-primera.webp" alt="Camiseta Argentina 1986" class="img-fluid mb-2 product-img" loading="lazy">
        <h5 class="text-center">Argentina 1986</h5>
        <button class="btn btn-ver-más mt-2" data-bs-toggle="modal" data-bs-target="#modalCamiseta1986">Ver Más</button>
    </div>

    <!-- CAMISETA 2021 -->
    <div class="product-card d-flex flex-column align-items-center col-12 col-lg-3 mb-4 mx-3 p-3 rounded shadow-sm">
        <img src="/assets/images/products/Argentina/Argentina-2021-Primera.webp" alt="Camiseta Argentina 2021" class="img-fluid mb-2 product-img" loading="lazy">
        <h5 class="text-center">Argentina 2021</h5>
        <button class="btn btn-ver-más mt-2" data-bs-toggle="modal" data-bs-target="#modalCamiseta2021">Ver Más</button>
    </div>
</section>
<!-- Modal 1978 -->
<div class="modal fade" id="modalCamiseta1978" tabindex="-1" aria-labelledby="modal1978Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1978Label">Argentina 1978</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/assets/images/products/Argentina/Argentina-1978-primera.webp" class="img-fluid mb-3" alt="Argentina 1978">
        <p>Esta camiseta representa el primer campeonato mundial ganado por Argentina en 1978. Diseño clásico y retro.</p>
        <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="../products/" class="btn btn-comprar-ya">Comprar ya</a>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 1986 -->
<div class="modal fade" id="modalCamiseta1986" tabindex="-1" aria-labelledby="modal1986Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1986Label">Argentina 1986</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/assets/images/products/Argentina/Argentina-1986-primera.webp" class="img-fluid mb-3" alt="Argentina 1986">
        <p>Icónica camiseta utilizada por Maradona en el Mundial de México. Recuerdo imborrable del '86.</p>
        <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="../products/" class="btn btn-comprar-ya">Comprar ya</a>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2021 -->
<div class="modal fade" id="modalCamiseta2021" tabindex="-1" aria-labelledby="modal2021Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="modal2021Label">Argentina 2021</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/assets/images/products/Argentina/Argentina-2021-Primera.webp" class="img-fluid mb-3" alt="Argentina 2021">
        <p>La camiseta que acompañó a la selección en la conquista de la Copa América. Moderna y elegante.</p>
        <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="../products/" class="btn btn-comprar-ya">Comprar ya</a>
      </div>
      </div>
    </div>
  </div>
</div>
