<div class="dashboard-container p-1 px-3">
  <h1>Dashboard - Cliente</h1>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-9 mb-5 px-3">
      <app-order-management
        [orders]="filteredOrders"
        (searchOrderById)="searchOrderById($event)"
        (cancelOrder)="onCancelOrder($event)"
        #orderManagement
      ></app-order-management>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 mb-5 px-3">
      <app-orders-summary 
      [orders]="filteredOrders" 
      [resetSelection]="!selectedOrder" 
      (selectedOrder)="selectOrder($event)"
      ></app-orders-summary>
    </div>
  </div>
  <div class="row justify-content-center mt-4 px-3">
    <div class="col-sm-12 col-md-8 mb-4">
      <app-products-suggest></app-products-suggest>
    </div>
  </div>
</div>