<section>
    <article >
      <div class="col-12">
          <h1 class="text-center my-2 mx-3">La tienda de los auténticos campeones</h1>
          <p class="text-center my-2 mx-3 fs-6">Comprá acá las camisetas retro de los campeones mundiales, desde 1930 hasta
              2022, y demostrá que sos parte de la historia del fútbol.</p>
      </div>
    </article>

<app-carousel></app-carousel>

  <article class="my-5 mx-2 d-flex flex-column align-items-center">
    <h3>Tenemos la mejor calidad de productos y variedades únicas en el mercado</h3>
   <a href="../products/" class="btn btn-explora-productos px-5 mt-2" role="button">Explorá nuestros productos</a>
  </article>

  <div class="text-center mt-5">
  <h3>¿Sabías que ahora podés disfrutar de nuestra app para Android?</h3>
  <p>Descargá la aplicación oficial de <strong>Tienda de Campeones</strong> y llevá la pasión del fútbol con vos, donde estés.</p>
  <a href="https://github.com/Proyecto-integrador-ISPC-2024/proyecto-integrador-mobile-2024/releases/tag/v.1.0.0"
     target="_blank"
     class="btn btn-apk px-5 mt-2"
     role="button">
     📲 Descargar APK para Android
  </a>
  <p style="font-size: 14px; margin-top: 8px;"><em>Disponible solo para dispositivos Android.</em></p>
</div>


<app-landing-card/>

</section>

